
.bg{
    background-image: url("gameoverr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .texto{
    width: 33.5%;
  }
  
  .boxPapel{
    margin-top: 29%;
  }
    
  
  .papel{
    width:100% ;
    
  }
  
  