
.bg{
  background-image: url("cenario.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.texto{
  width: 33.5%;
}

.boxPapel{
  margin-top: 29%;
}
  

.papel{
  width:100% ;
  
}

