/* !!! cenas e imagens relacionadas ao guerreiro !!! */
.bgGuerreirocena1{
  background-image: url("guerreiroCena1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgGuerreirocena3{
  background-image: url("guerreiroCena2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgGuerreirocenaend{
  background-image: url("guerreiroCenaFinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgGuerreiroFinal2{
  background-image: url("guerreiofinal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.bggameover{
  background-image: url("gameover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* !!! cenas e imagens relacionadas ao guerreiro !!! */



/* !!! cenas e imagens relacionadas a Bruxa !!! */
.bgbruxacena1{
  background-image: url("bruxacena11.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgbruxacena3{
  background-image: url("bruxacena2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgbruxacenaend{
  background-image: url("bruxacenafinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* !!!cenas e imagens relacionadas a Bruxa!!!*/



/*!!! cenas e imagens relacionadas ao Mago!!!*/
.bgmagocena1{
  background-image: url("magoCena1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgmagocena3{
  background-image: url("magocena2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgmagocenaend{
  background-image: url("guerreiroFinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgmagocenaend2{
  background-image: url("magocenafinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*!!! cenas e imagens relacionadas ao Mago!!!*/


.texto{
  width: 33.5%;
}

.boxPapel{
  margin-top: 29%;
}
  

.papel{
  width:100% ;
  
}

